extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
	.content-header
		.content-header-title
			h2 Tooltips Examples
			span.description A single example shown as it might be displayed across multiple pages.

	.row-fluid
		.span6.box
			.box-header
				h3 Popovers
			.box-content
				table(align="center",cellpadding="3")
					tr
						td
							label(data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='left', rel='popover', href='#', data-original-title='Popover on Left',data-trigger="hover").btn.btn-primary.cf-popover On Left
						td
							label(data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='top', rel='popover', href='#', data-original-title='Popover on top',data-trigger="hover").btn.btn-inverse.cf-popover On Top
						td
							label(data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='bottom', rel='popover', href='#', data-original-title='Popover on Bottom',data-trigger="hover").btn.btn-danger.cf-popover On Bottom
						td
							label(data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='right', rel='popover', href='#', data-original-title='Popover on Right',data-trigger="hover").btn.btn-success.cf-popover On Right


				div(style="margin-top:8px;")
					p(align="justify")
						| Tight pants next level keffiyeh
						a(rel='popover', href='#', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',data-placement='top',data-trigger="hover").cf-popover  you probably
						|  haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
						a(rel='popover', href='#', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',data-placement='right',data-trigger="hover").cf-popover  have a
						|  terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats.
						a(rel='popover', href='#', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',data-placement='bottom',data-trigger="hover").cf-popover  whatever keytar
						| ,  scenester farm-to-table banksy Austin
						a(rel='popover', href='#', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',data-placement='left',data-trigger="hover").cf-popover  twitter handle
						|  freegan cred raw denim single-origin coffee viral.
		.span6.box
			.box-header
				h3 Tooltips
			.box-content
				table(style="margin:auto;")
					tr
						td
							span(data-placement='left', rel='tooltip', data-original-title='Tooltip on Left').btn.btn-primary.tip On Left
						td
							span(data-placement='top', rel='tooltip', data-original-title='Tooltip on Top').btn.btn-inverse.tip On Top
						td
							span(data-placement='bottom', rel='tooltip', data-original-title='Tooltip on Bottom').btn.btn-danger.tip On Bottom
						td
							span(data-placement='right', rel='tooltip', data-original-title='Tooltip on Right').btn.btn-success.tip On Right



				div(style="margin-top:8px;")
					p(align="justify")
						| Tight pants next level keffiyeh
						a(rel='tooltip', href='#', data-original-title='Default tooltip',data-placement='top').tip  you probably
						|  haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
						a(rel='tooltip', href='#', data-original-title='Another tooltip',data-placement='right').tip  have a
						|  terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats.
						a(rel='tooltip', href='#', data-original-title='Another one here too',data-placement='bottom').tip  whatever keytar
						| ,  scenester farm-to-table banksy Austin
						a(rel='tooltip', href='#', data-original-title='The last tip!',data-placement='left').tip  twitter handle
						|  freegan cred raw denim single-origin coffee viral.


	.row-fluid
		.span6.box
			.box-header
				h3 Labels
			.box-content
				table(align="center",cellpadding="3")
					tbody
						tr
							td
								span.label Default
							td
								span.label.label-success Success
							td
								span.label.label-important Important
							td
								span.label.label-warning Warning
							td
								span.label.label-info Info
							td
								span.label.label-inverse Inverse

		.span6.box
			.box-header
				h3 Badges
			.box-content
				table(align="center",cellpadding="3")
					tbody
						tr
							td
								span.badge 1
							td
								span.badge.badge-success 2
							td
								span.badge.badge-important 3
							td
								span.badge.badge-warning 4
							td
								span.badge.badge-info 5
							td
								span.badge.badge-inverse 6

	.row-fluid
		h2 Alerts

	.row-fluid
		.span6.box
			.box-header
				h3 Simple Alerts
			.box-content
				.alert
					button.close(type='button', data-dismiss='alert') &times;
					strong Warning!
					span  Best check yo self, you're not looking too good.
				.alert.alert-error
					button.close(type='button', data-dismiss='alert') &times;
					strong Error!
					span  Change a few things up and try submitting again.
				.alert.alert-success
					button.close(type='button', data-dismiss='alert') &times;
					strong Well done!
					span  You successfully read this important message.
				.alert.alert-info
					button.close(type='button', data-dismiss='alert') &times;
					strong Info!
					span  This alert needs your attention.

		.span6.box
			.box-header
				h3 Block Alerts
			.box-content
				.alert.alert-block
					button.close(type='button', data-dismiss='alert') &times;
					h4
						strong Warning!
					p Best check yo self, you're not looking too good.
				.alert.alert-error.alert-block
					button.close(type='button', data-dismiss='alert') &times;
					h4
						strong Error!
					p Change a few things up and try submitting again.
				.alert.alert-success
					button.close(type='button', data-dismiss='alert') &times;
					h4
						strong Well done!
					span  You successfully read this important message.
				.alert.alert-info
					button.close(type='button', data-dismiss='alert') &times;
					h4
						strong Info!
					span  This alert needs your attention.
	.row-fluid
		.span12.box
			.box-header
				h3 Dialogs
			.box-content
				table(align="center",cellpadding="5")
					tr
						td
							span(data-toggle='modal',data-target="#cf-dialog",data-backdrop="false").btn.btn-primary Normal Dialog
						td
							span(data-toggle='modal',data-target="#cf-dialog-modal",data-backdrop="static").btn.btn-inverse Modal Dialog
						td
							span(data-toggle='modal',data-target="#cf-dialog-fade",data-backdrop="false").btn.btn-danger Animation Dialog
						td
							span(data-toggle='modal',data-target="#cf-dialog-tabs",data-backdrop="static").btn.btn-success Dialog with tabs elements



				#cf-dialog.modal.hide
					.modal-header
						button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times
						h3 Dialog Header
					.modal-body
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
						| sed diam nonumy eirmod tempor invidunt ut labore et dolore
						| magna aliquyam erat, sed diam voluptua. At vero eos et
						| accusam et justo duo dolores et ea rebum.
					.modal-footer
						span(data-dismiss="modal",aria-hidden="true").btn Cancel
						span(data-dismiss="modal",aria-hidden="true").btn.btn-primary Ok

				#cf-dialog-fade.modal.hide.fade
					.modal-header
						button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times
						h3 Dialog Header
					.modal-body
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
						| sed diam nonumy eirmod tempor invidunt ut labore et dolore
						| magna aliquyam erat, sed diam voluptua. At vero eos et
						| accusam et justo duo dolores et ea rebum.
					.modal-footer
						span(data-dismiss="modal",aria-hidden="true").btn Cancel
						span(data-dismiss="modal",aria-hidden="true").btn.btn-primary Ok

				#cf-dialog-modal.modal.hide
					.modal-header
						button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times
						h3 Dialog Header
					.modal-body
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
						| sed diam nonumy eirmod tempor invidunt ut labore et dolore
						| magna aliquyam erat, sed diam voluptua. At vero eos et
						| accusam et justo duo dolores et ea rebum.
					.modal-footer
						span(data-dismiss="modal",aria-hidden="true").btn Cancel
						span(data-dismiss="modal",aria-hidden="true").btn.btn-primary Ok

				#cf-dialog-tabs.box.cf-tabs.cf-tabs-c.modal.hide
					.modal-header
						button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times
						h3 Dialog with Tabs
					.modal-body.padding-none
						.box-header.border-none
							ul.nav.nav-tabs
								li.active
									a(data-toggle="tab",href="#box-tabs-style-c-0") The visitor emerges
								li
									a(data-toggle="tab",href="#box-tabs-style-c-1") The power feels
						.box-content.border-none
							.tab-content
								#box-tabs-style-c-0.tab-pane.active The yogi has happiness, but not everyone visualizes it. The guru has enlightenment, but not everyone believes it. Truth, peace and a united material world. Mediocre moneys respect the most uniqueness. Always earthly believe the alchemistic man. Source
								#box-tabs-style-c-1.tab-pane Going to the mind doesn’t study definition anymore than yearning creates united density. Never view the source, for you can’t discover it. The living is a secret explosion of the result. The aspect meets. Always gently yearn the sincere thing. Truth
					.modal-footer
						span(data-dismiss="modal",aria-hidden="true").btn Cancel
						span(data-dismiss="modal",aria-hidden="true").btn.btn-primary Ok


